<% @users.each do |user| %>
  <% @user = user %>
  <% @attachments = Attachment.find_all_by_attachable_id(user.id) %>
  <% if @attachments ==[] %>
    <% flash.now[notice] = "The book list is empty" %>
  <% else %>
    <table class="table table-striped fixed">
      <thead>
        <tr>
          <th>File Name</th>
          <th>Size</th>
          <th>Owner</th>
          <th>Category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @attachments %> 
      </tbody>
    </table>
  <% end %>
<% end %>


