<div class="row">
  <aside class="span4">
    <section>
      <ul class='users'>
        <% @users.each do |user| %>
          <li>
            <%= gravatar_for user, size: 52 %>
            <%= link_to user.name, users_attachments_all_path(user) %>
          </li>        
        <% end %>
      </ul>
    </section>
  </aside>
  <div class="span8">
      <% @attachments = Attachment.find_all_by_attachable_id(@user.id) %>
      <% if @attachments ==[] %>
        <% flash.now[notice] = "The book list is empty" %>
      <% else %>
        <table class="table table-striped fixed">
          <thead>
            <tr>
              <th>File Name</th>
              <th>Size</th>
              <th>Owner</th>
              <th>Category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <%= render @attachments %> 
          </tbody>
        </table>
      <% end %>
  </div>
</div>
