<% if @attachments ==[] %>
  <% flash.now[notice] = "The book list is empty" %>
<% else %>
  <table class="table table-striped fixed">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Size</th>
        <th>Category</th>
        <th>UploadTime</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @attachments %> 
    </tbody>
  </table>
<% end %>
<div class="btn-group">
  <%= link_to('Add a new file', new_user_attachment_path(@user),{:class => 'btn'}) %>
  <%= link_to("All users' books", users_attachments_all_path(@user),{:class => 'btn'}) %>
</div>
