<h1>upload a new file</h1>
<div class="row">
  <div class="span6 offset3">
    <%= render 'attachments/form' %>
    <%= link_to('Book list', user_attachments_path(@user),{:class => 'btn'}) %>
  </div>
</div>
