<div class="jumbotron masthead">
  <div class="container">
    <h1>Books share</h1>
    <p>Knowledge is power, book is the source of knowledge. This is a place where you can share and also download books,let's improve together.</p>
    <p>
      <a href="signup" class="btn btn-primary btn-large">Go to sign up</a>
    </p>
  </div>
</div>
